@media (min-width: 300px) {
  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 80% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 14px;
    line-height: 20px;
  }

  .nav-label {
    font-size: 14px;
    line-height: 20px;
  }

  .dropdown-arrow {
    font-size: 20px;
    line-height: 24px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .profile-dropdown-role {
    display: none;
    font-size: 16px;
    line-height: 22px;
  }

  .profile-dropdown-arrow{
    display: none !important;
  }

  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 160px;
    z-index: 50px;
  }
}

@media (min-width: 768px) {
  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 16px;
    line-height: 24px;
  }

  .nav-label {
    font-size: 0.75rem;
    line-height: 16px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  .profile-dropdown-arrow{
    display: block !important;
  }
  
  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 160px;
    z-index: 50px;
  }
}

@media (min-width: 1024px) {
  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 16% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 16px;
    line-height: 26px;
  }

  .nav-label {
    font-size: 14px;
    line-height: 22px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 192px;
    z-index: 50px;
  }
}

@media (min-width: 1300px) {
  .min-md-open {
    padding-left: 300px;
  }

  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 18px;
    line-height: 28px;
  }

  .nav-label {
    font-size: 16px;
    line-height: 24px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 1536px) {
  .min-md-open {
    padding-left: 310px;
  }

  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 22px;
    line-height: 32px;
  }

  .nav-label {
    font-size: 17px;
    line-height: 25px;
  }

  .dropdown-arrow {
    font-size: 24px;
    line-height: 26px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 260px;
    z-index: 50px;
  }
}

@media (min-width: 2000px) {
  .min-md-open {
    padding-left: 400px;
  }

  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 22px;
    line-height: 32px;
  }

  .nav-label {
    font-size: 19px;
    line-height: 27px;
  }

  .dropdown-arrow {
    font-size: 24px;
    line-height: 26px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 300px;
    z-index: 50px;
  }
}

@media (min-width: 2500px) {
  .min-md-open {
    padding-left: 520px;
  }

  .side-bar {
    margin-top: 64px !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20% !important;
    min-width: 300px;
  }

  .nav-icon {
    font-size: 24px;
    line-height: 32px;
  }

  .nav-label {
    font-size: 24px;
    line-height: 32px;
  }

  .dropdown-arrow {
    font-size: 30px;
    line-height: 36px;
  }

  .profile-dropdown-container {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 36px;
    cursor: pointer;
  }

  .profile-dropdown-user {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .profile-dropdown-role {
    display: block;
    font-size: 16px;
    line-height: 22px;
  }

  .profile-dropdown-content{
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 320px;
    z-index: 50px;
  }
}
