@media (min-width: 300px) {
    .chart-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 16px;
    }
  
    .left-chart, .right-chart, .full-width-chart {
      background-color: #0F172B;
      border-radius: 12px;
    }
  
    .left-chart, .right-chart {
      grid-column: span 1 / span 1;
    }
  
    .full-width-chart {
      grid-column: span 1 / span 1;
    }
  
    .chart-height {
      height: 350px !important;
    }
  }
  
  @media (min-width: 768px) {
    .chart-container {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 16px;
    }
  
    .left-chart {
      grid-column: span 3 / span 3;
    }
  
    .right-chart {
      grid-column: span 2 / span 2;
    }
  
    .full-width-chart {
      grid-column: span 3 / span 3;
    }
  
    .chart-height {
      height: 400px !important;
    }
  }
  
  @media (min-width: 1024px) {
    .chart-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 16px;
    }
  
    .left-chart {
      grid-column: span 3 / span 3;
    }
  
    .right-chart {
      grid-column: span 1 / span 1;
    }
  
    .full-width-chart {
      grid-column: span 2 / span 4;
    }
  
    .chart-height {
      height: 400px !important;
    }
  }
  
  @media (min-width: 1536px) {
    .chart-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 16px;
    }
  
    .left-chart {
      grid-column: span 3 / span 3;
    }
  
    .right-chart {
      grid-column: span 1 / span 1;
    }
  
    .full-width-chart {
      grid-column: span 3 / span 3;
    }
  
    .chart-height {
      height: 450px !important;
    }
  }
  
  @media (min-width: 2500px) {
    .chart-container {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 24px;
    }
  
    .left-chart {
      grid-column: span 4 / span 4;
    }
  
    .right-chart {
      grid-column: span 2 / span 2;
    }
  
    .full-width-chart {
      grid-column: span 4 / span 4;
    }
  
    .chart-height {
      height: 500px !important;
    }
  }
  