@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0a101f] text-neutral-300;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* margin-top: 64px; */
  margin-top: 2px;
  background: #172547;
}

::-webkit-scrollbar-thumb {
  background: #737b8d;
  border-radius: 4px;
}
